body {
    margin:0;
    padding:0;
}

html {
  background: url('../img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
    position: absolute;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    padding-top:10%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding:0 10%;
    color:white;
    font-size: 6.9vw;
    line-height:9.9vw;
}

h2 {
    font-family: 'Merriweather', serif;
    text-align: right;
    color: white;
    padding:0 10%;
    margin-top:20%;
    font-size: 2.9vw;
    line-height:1.9vw;
}
